body {
	overflow: hidden;
	margin: 0;
  font-size: 16px;
  color: #fff;
}
#three-canvas {
	position: fixed;
	left: 0;
	top: 0;
}
h1 {
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
}